[project]
	description = NPMS-dev ? ????? ????????? ??? Windows, ?????????? nginx, MySQL (??? MariaDB) ? PHP
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nikita (RedDevilHat)
[access "refs/for/refs/*"]
	read = group user/Nikita (RedDevilHat)
	push = group user/Nikita (RedDevilHat)
	label-Code-Review = -2..+2 group user/Nikita (RedDevilHat)
	label-Verified = -1..+1 group user/Nikita (RedDevilHat)
	rebase = group user/Nikita (RedDevilHat)
	removeReviewer = group user/Nikita (RedDevilHat)
	submit = group user/Nikita (RedDevilHat)
[access "refs/heads/*"]
	read = group user/Nikita (RedDevilHat)
	create = group user/Nikita (RedDevilHat)
	push = +force group user/Nikita (RedDevilHat)
	pushMerge = group user/Nikita (RedDevilHat)
[access "refs/tags/*"]
	push = +force group user/Nikita (RedDevilHat)
	pushTag = group user/Nikita (RedDevilHat)
	pushSignedTag = group user/Nikita (RedDevilHat)
